{% extends "blog/base.html" %}

{% block content %}
	{% if previous_slug or next_slug %}
	<nav>
		<ul class="pager">
			{% if previous_slug %}
			<li><a href="/article/{{ previous_slug }}">Previous</a></li>
			{% endif %}
			{% if next_slug %}
			<li><a href="/article/{{ next_slug }}">Next</a></li>
			{% endif %}
		</ul>
	 </nav>
	{% endif %}

	<div class="blog-post">
		<h2 class="blog-post-title">{{ article.title }}</h2>
		<p class="blog-post-meta">{{ article.date }} by <a href="#">{{ article.author }}</a></p>
		<p>{{article.formatted_markdown|safe}}</p>
	</div><!-- /.blog-post -->

	<!-- Partie commentaires -->
	<div class="blog-comments">
	{% for comment in comments %}
		  <div class="blog-comment">
			<p class="blog-comment-meta">{{ comment.date }} by <a href="mailto:{{comment.email}}">{{ comment.author }}</a></p>
			<p class="blog-comment-content">{{comment.content}}</p>
		</div>
	{% endfor %}
	</div><!-- /.blog-post -->
	
{% endblock %}