{% extends "blog/base.html" %}

{% block content %}
	{% if articles.has_other_pages %}
	<nav>
		<ul class="pager">
			{% if articles.has_previous %}
			<li><a href="?page={{ articles.previous_page_number }}">Previous</a></li>
			{% endif %}
			{% if articles.has_next %}
			<li><a href="?page={{ articles.next_page_number }}">Next</a></li>
			{% endif %}
		</ul>
	 </nav>
	{% endif %}
{% for article in articles %}
	<div class="blog-post">
		<h2 class="blog-post-title">{{ article.title }}</h2>
		<p class="blog-post-meta">{{ article.date }} by <a href="#">{{ article.author }}</a></p>
		<p>{{article.body}}</p>
	</div><!-- /.blog-post -->
{% endfor %}
	
	<!-- Partie commentaires -->
	
{% endblock %}